incremental_db/
*.done
*.summary
*.cdb
*.hdb
*.html
*.txt
*.bpm
*.hsd
*.pin
*.asm.rpt
*.fit.rpt
*.flow.rpt
*.map.rpt
*.sta.rpt
*.pof
*.sof
*.asm*
*.cbx.xml
*.cmp*
*.map*
*.qmsg
*.rdb
*.sci
*.tdb
*.ddb
*hier_info
*.dat
*.hif
*.tdf
*.bak
*.sim.rpt
*.tan.rpt
*.eds_overflow
*.simfam
*.wsf
*.sgate.rvd
*.sgate_sm.rvd
*.fit.smsg